<div>
    {{#each classes as |class|}}
        <div class="info-card-4">

            <header class="info-container">
                <h3>{{class.class_number}}&nbsp;--&nbsp;{{class.class_name}}</h3>
                <p>{{class.meeting_days}}</p>

            </header>

            <div class="info-container">
                <table class="info-table">
                    <tr>
                        <th>Date</th>
                        <th>Author Name</th>
                        <th>Author EID</th>
                        <th>Notes</th>
                    </tr>
                    {{#each class.notes as |note|}}
                        <tr class="{{index_by_two @index}}">
                            <td>{{note.date}}</td>
                            <td>{{note.first_name}}&nbsp;{{note.middle_initial}}&nbsp;{{note.last_name}}</td>
                            <td>{{note.author_eid}}</td>
                            <td>
                                <a href="/storage/{{note.notes}}" target="_blank" class="info-btn info-white info-border">View</a>
                            </td>
                        </tr>    
                    {{/each}}
                </table>
            </div>
            <footer class="info-container">
                <p>
                    <form action="/classes/upload/" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="class" value="{{class.class_number}}">
                        <input type="file" name="notes">
                        <button type="submit" class="info-btn info-white info-border">Upload Notes</button>
                    </form>
                </p>
            </footer>
        </div>
    {{/each}}
</div>