<div class="">
    <div class="info-card-4">

        <header class="info-container">
            <h1>{{info.first_name}}&nbsp;{{info.middle_initial}}&nbsp;{{info.last_name}}</h1>
        </header>

        <div class="info-container">
            <table class="info-table">
                <tr>
                    <td>EID:</td> 
                    <td>{{info.EID}}</td>
                </tr>
                <tr class="row-alt">
                    <td>Email:</td>
                    <td>{{info.email}}</td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td>{{info.phone_number}}</td>
                </tr>
                <tr class="row-alt">
                    <td>Address:</td>
                    <td>{{info.address}}</td>
                </tr>
            </table>
        </div>

        <footer class="info-container">
            <h5><a href="/updateinfo"><button class="w3-btn w3-white w3-border">Update Info</button></a></h5>
        </footer>

    </div>
</div>

